* {
    margin: 0 auto;
}

.container {
    text-align: center;
    margin: 50px auto;
}

.address {
    width: 500px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

input {
    margin-bottom: 10px;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

