* {
    margin: 0 auto;

}

.block {
    width: 50%;
    text-align: center;
    margin: 40px auto;
}

.block h3 {
    margin: 30px;
}

.block h4 {
  color: red;
}


p{
    text-align: left;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
th {
    background-color: lightgrey;
}
form{
    text-align: left;
}


.mar{
    margin-top: 20px;
}