
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title></title>

    <style>
        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        table td, table th {
            border: 1px solid #ccc;
            padding: 5px;
        }

        table th {
            background: #eee;
        }
    </style>

</head>
<body>

<h1>Добро пожаловать, {{ login }}. Твой список дел на сегодня.</h1>
<div style="float: left">
    <form method="POST">

        <input type="text" name="description" placeholder="Описание задачи" value={{ value }}>
        <input type="submit" name="save" value="Добавить">

    </form>
</div>
<div style="float: left; margin-left: 20px;">
    <form method="POST">
        <label for="sort">Сортировать по:</label>
        <select name="sort_by">
            <option value="date_created">Дате добавления</option>
            <option value="is_done">Статусу</option>
            <option value="description">Описанию</option>
        </select>
        <input type="submit" name="sort" value="Отсортировать"/>
    </form>
</div>
<div style="clear: both"></div>

<table>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>

        {% if data is empty %}
            <h3> Дел пока нет, кайфуй.</h3>
        {% else %}
            {% for date in data %}
                {% if date.description is defined  and date.description|length > 3%}

    <tr>
        <td>{{ date.description }}</td>
        <td>{{ date.date_added }}</td>
        <td style="color: {% if  date.is_done == 0 %} orange {% else %} green {% endif %}">
            {% if  date.is_done == 0 %} В процессе {% else %} Выполнено {% endif %}
        </td>
        <td>
            <a href='?id={{ date.id }}&action=edit'>Изменить</a>
            <a href='?id={{ date.id }}&action=done'>Выполнить</a>
            <a href='?id={{ date.id }}&action=delete'>Удалить</a>
        </td>
        <td>{{  date.assigned }}</td>
        <td>{{ date.author }}</td>
        <td>
            <form method="POST">
                <select name="assigned_user_id">
                    {% for user in users %}
                        <option value="{{ date.id }};{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="assign" value="Переложить ответственность">
            </form>
        </td>
    </tr>

                {% endif %}
            {% endfor %}
        {% endif %}
</table>
<div>
    <h3>Также, посмотрите, что от Вас требуют другие люди:</h3>
</div>

<table>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
    </tr>
    {% if assigned_data is empty %}
        <h3> Дел пока нет, кайфуй.</h3>
    {% else %}
        {% for dates in assigned_data %}
            {% if dates.description is defined and dates.description |length > 3 %}
    <tr>
        <td>{{  dates.description }}</td>
        <td>{{ dates.date_added }}</td>
        <td style="color: {% if  dates.is_done == 0 %} orange {% else %} green {% endif %}">
            {% if  dates.is_done == 0 %} В процессе {% else %} Выполнено {% endif %}
        </td>
        <td>
            <a href='?id={{ dates.id }}&action=edit'>Изменить</a>
            <a href='?id={{ dates.id }}&action=done'>Выполнить</a>
            <a href='?id={{ dates.id }}&action=delete'>Удалить</a>
        </td>
        <td>{{ login }}</td>
        <td>{{ dates.author}}</td>
    </tr>
            {% endif %}
        {% endfor %}
    {% endif %}

</table>

<div style="font-weight: bold; font-size: 14px; color: #1e7e34; margin: 50px 0;">
    <a href="../controller/controller_task.php?logout=1">Выйти</a>
</div>
</body>
</html>